<div>
    <p>Hi <%= user.name%>!</p>
    <p><%= user.requestername %> is Requesting <%=user.bookname%> if you have this book plz contact him/her on this contact number - <%=user.requesternumber%> </p>
    <p>Thanks!</p>
</div>